{% extends 'base.html' %} {% load crispy_forms_tags %}

<! viewdan gelen istegin cevabı bu sayfada >

{% block title %} Contact {% endblock %} {% block content %}
<div class=" justify-content-center" >
<form class=" justify-content-center" method="post" >
  {% csrf_token %}
  <div class="card">
    <div class="card-body">
      <div class="form-group row">
        {% crispy form %}
        <!-- {{ form|crispy }}-->
        <button type="submit" class="btn btn-dark mb-3">
          Gönderimi Tamamla
        </button>
      </div>
    </div>
  </div>
</form>
</div>

{% endblock %}
