{% load categoryList %}
{%load static%}

{% categoryList as categories %}
<!--
<div class="container">
<div class="row">
<nav class="navbar navbar-expand-lg bg-dark fixed-top bg-image" style="background-image: url('static/img/background2.png');  background-size: cover;" >
  <div class="container">
    <a class="logo" href="{% url 'home' %}">CENK ÇIRIKKA</a>
    <button
      class="navbar-toggler " 
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center " id="navbarNav">
      <ul class="navbar-nav">
        {% for category in categories %}
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="{% url 'category' categorySlug=category.slug %}">{{category.categoryName}}</a>
        </li>
        {% endfor %}
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="{% url 'about' %}">Hakkımızda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="{% url 'contact' %}">İletişim</a>
        </li>
      </ul>
    </div>
    <form action="{% url 'home' %}" class="d-flex" role="search" style="z-index: 500;">
      <input
        name="query"
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
</div>
-->
<!-- As a link -->
<div class="container-fluid  " >
  <div class="fixed-top navbar-expand-lg  bg-black  ">
    <nav class="navbar text-light " style="height: 100px;">
        <a class="logo text-light" href="{% url 'home' %}">CENK ÇIRIKKA</a>
        <div class="collapse navbar-collapse justify-content-end  " id="navbarNav">
          <ul class="navbar-nav ">
            <li class="nav-item">
              <a class="nav-link active text-white" aria-current="page" href="{% url 'about' %}">Hakkımızda</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active text-white" aria-current="page" href="{% url 'contact' %}">İletişim</a>
            </li>
          </ul>
        </div>
     
    </nav>
    
    <!-- SECOND BAR -->
    <nav class="navbar navbar-expand-xs navbar-light bg-light ">
      <a class="navbar-brand col-sm-12 d-none d-sm-block " href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
</div>
